/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #333;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}


/* ==========================================================================
   Layout
   ========================================================================== */

.wrapper {
	width: 660px;
	margin: 0 auto;
}

#hero {
	margin-top: 80px;
	background: transparent url(../img/sig.png) center top no-repeat;
	background-size: 380px;
	padding-top: 130px;
	
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;	
}

/* ==========================================================================
   Styling
   ========================================================================== */

#me {
	text-transform: uppercase;
	font-family: "Glegoo", Helvetica Neue, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	letter-spacing: 3px;
}

p {
	font-size: 24px;
	line-height: 44px;
	font-style: normal;
	font-weight: 400;
	font-family: "Gentium Basic", Georgia, serif;
}

.fancy-tip {
	position: relative;
	color: #333;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #4a9ef8;
}
.fancy-tip:hover {
	border-bottom-color: #b0d6ff;
}

.fancy-tip .tip {
	display: none;
}
.fancy-tip:hover .tip {
	display: block;
	position: absolute;
	top: -24px;
	left: -4px;
	background: #4a9ef8;
	padding: 4px 3px 3px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: white;
	
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
}

.tip.bs {
	 width: 184px;
}

.tip.md {
	 width: 426px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 768px) {
	/* Phones to portrait tablets */
	.wrapper {
		width: 90%;
	}
	
	#hero {
		background-size: 190px;
		padding-top: 70px;
	}	
}

@media only screen and (max-width: 1139px) {
	/* Landscape tablets to desktop */
}

@media only screen and (min-width: 1140px) {
	/* Large desktops */
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	/* Apple Retina displays */
	#hero {
		background-image: url(../img/sig@2x.png);
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}